{
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
              "@/components/*": "./src/components/*",
              "@/utils/*": "./src/utils/*",
              "@/hooks/*": "./src/hooks/*",
              "@/router/*": "./src/router/*",
              "@/providers/*": "./src/providers/*",
              "@/pages/*": "./src/pages/*",
              "@/src/*" : "./src"
          }
        }
      ]
    ]
}